@charset "utf-8";

/* Titulo */
@font-face {
    font-family: 'Bebas';
    src: url('fontes/BebasNeue-Regular.ttf');
}
/* Paragrafo. */
@font-face {
    font-family: 'roboto';
    src: url('fontes/Roboto_Condensed/RobotoCondensed-Light.ttf');
}

:root   {
    --cor0: blue;
    --cor2: blue;
    --cor3: blue;
    --cor4: #00b8c2;

}



body    {
    background-image: url('fundo-site/fundo-do-site-2.png');
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    color: white;
    font-family: 'bebas';
    margin: 0;
}

header  {
    -webkit-text-stroke: 2.5px black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: end;
    width: 95%;
    height: auto;
    margin: 20px auto 20px auto;
    border: 5px solid #008086;
    border-radius: 7px;
    background-image: transparent /*linear-gradient(0deg, #092428, #0C3235)*/;
}

header hr   {
    width: 98%;
    height: 1.7px;
    background-color: white;
    border-radius: 20px;
}

header h1   {
    margin: 0 auto 0 auto;
    font-size: 6em;
    color: #00b8c2;
    text-shadow: 0px 5px 0px #00747a;
}

header .menus    {
    margin-bottom: 10px;
}

header .menus  a  {
    font-family: 'roboto';
    padding: 0px 5px 0px 5px;
    transition: 0.15s;
    border-radius: 10px;
    margin: 0px 3px 0px 3px;
    font-size: 1.4em;
    text-decoration: none;  
}

header .menus  a:hover  {
    background-color: rgba(255, 255, 255, 0.212);
}

h1  {
    font-weight: normal;
	
}

h2 {
    font-weight: normal;
    margin: 5px 0px 5px 18px;
	font-size: 3em;
	
}




#generos    {
    display: flex;
    flex-wrap:wrap;
    max-width: 1440px;
    width: 96%;
    height: auto;
    margin: auto;
    justify-content:space-evenly;
    padding: 10px 0 10px 0;
    border-radius: 8px;
    background-image: linear-gradient(0deg, #09242894, #0c323588);
}

#generos  div  {
    width: 290px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 3px  transparent;
    border-style: solid;
    margin: 10px 0 10px 0;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.644);
    background-position: center;
    background-size: 105% 105%;
    text-align: center;
}

#generos div a  {
    width: 92%;
    font-family: 'bebas';
    position: relative;
    top: 50px;
    letter-spacing: 5px;
    font-size: 1.8em;
    text-decoration: none;
    color: white; 
    background-color:rgba(0, 49, 49, 0.596);
    border: 4px solid rgba(0, 139, 139, 0.856) ;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.651);
}

#generos div a:hover    {
    border-color: rgb(0, 207, 207);
    box-shadow: 0 5px 3px 2px rgba(0, 0, 0, 0.253);
    background-color: rgb(0, 139, 139);
}

@media (max-width: 800px) {
    body    {
        background-size: 300vw 101vh;
    }
	#generos {
		width: 100%;
		
	}

	#generos div {   
		height: 190px;
		width: 85%;
	}
}

#generos  div:hover    {
    border: 3px solid whitesmoke;
}